* {
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1F1F1F
}

/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;